---
version: 2.1

orbs:
  go: circleci/go@1.3.0

jobs:
  build:
    executor:
      name: go/default
      tag: '1.14'
    steps:
     - checkout
     - go/test:
        covermode: atomic
        failfast: true
        race: true
workflows:
  main:
    jobs:
      - build